

.bg-red {
  background-color: #ec7471;
}

.bg-green {
  background-color: #93dc88;
}

.bg-blue {
  background-color: #85cdf4;
}

.bg-purple {
  background-color: #c097cc;
}

.bg-teal {
  background-color: #2bcbc5;
}

.bg-salmon {
  background-color: #f3bfb9;
}

.bg-yellow {
  background-color: #e3d578;
}

.bg-navy {
  background-color: #7191e4;
}
