
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

$font-stack: 'Montserrat', sans-serif;
$primary-color: white;

@mixin fix-align($align) {
  text-align: $align;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}
.masthead {
  display: flex;
  background-color: $primary-color;
  flex-direction: column;
  justify-content: center;
  height: 150px;
  h1 {
    color: pink;
    font-family: $font-stack;
    padding-left: 35px;
    margin-bottom: 10px;
  }
  .subheader {
    color: lightgrey;
    font-family: 'Droid Serif';
    font-style: italic;
    padding-left: 35px;
  }
}

.eggs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.egg {
  display: flex;
  width: 50%;
  @media (max-width: 800px) {
    width: 100%;
  }
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  img {
    width: 350px;
    height: 350px;
    padding-top: 35px;
  }
  .description{
    h2{
      @include fix-align(center);
    }
    .dash {
      text-align: center;
      color: white;
    }
    .name {
      font-family: $font-stack;
      color: $primary-color;
    }
    .explanation {
      font-style: italic;
      color: $primary-color;
      font-size: 1.6rem;
      height: 12rem;
      @include fix-align(center);
    }
  }

}

@import 'egg_colors';

footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 100px;
  .credit {
    color: white;
    font-family: $font-stack;
    padding-left: 25px;
  }
}
